<% if @results.count > 0 %>

	<div class="results_background">

		<table class="table table-hover">
			<thead>
				<tr>
					<th><h1><u>Brew</u></h1></th>
					<th><h1><u>Brewery</u></h1></th>
				</tr>
			</thead>
			<tbody>
					<% @results.each do |beer| %>
						<tr>
		    				<td><h3><a href="/beers/<%= beer["id"] %>"><%= beer["name"] %></a></h3></td>
		    				<td><h3><%= beer['breweries'][0]["name"] %></a></h3></td>
		    			</tr>
		  			<% end %>
		  	</tbody>
		 </table>

	</div>

<% else %>

	<div class="hero">GET YO' SEARCH ON!!!</div>

<% end %>